{% extends 'base.html' %}
{% block content %}
   <div>
        <a href="{% url 'signin' %}">
            <button>تسجيل مستخدم جديد </button>
        </a>
        <a href="{% url 'login' %}">
            <button>تسجيل الدخول </button>
        </a>
        <a href="{% url 'logout' %}">
            <button>تسجيل الخروج </button>
        </a>
    </div>

    <div>
        <a href="{% url 'add_psot' %}">
            <button>اضافة منشور</button>
        </a>
    </div>
    
    
  
    <div>
        <h2>قائمة المنشورات</h2>
        <div>
            {% for post in posts %}
            <h4>
                {{ post.title }}
            </h4>
            {{ post.content }}
            {% endfor %}
        </div>
    </div>
{% endblock content %}