{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div>
      
        <a href="{% url 'add_psot' %}">
            <div class="m-3">
                <img src="{% static 'images/addpost.png' %}" width="50px" >
            </div>
        </a>
    </div>

    {% for post in posts %}
    <div class="border p-3 mb-3">
        <span class="text-secondary">نشر في {{post.date|date:'d-m-Y'}}</span>
        <h3><a class="text-dark" href="#">{{post.title}}</a></h3>
        <p>{{post.content}}</p>
    </div>


        <!-- <div>
            
            <h4>
                {{ post.title }}
            </h4>
            {{ post.content }}
            {% endfor %}
        </div> -->
   
{% endblock content %}