{% load static %}
<!DOCTYPE html>
<html dir="rtl">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/main.css' %}">


      <title>index</title>
  </head>
  <body>
      <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <img src="{% static 'images/lateen.png'%}" alt="" width="50px">
            <img src="{% static 'images/LateenText.png'%}" alt="" width="50px"> 
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav  mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'posts' %}">الرئيسية</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"> من نحن </a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    من اعمالنا 
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
                    <li><a class="dropdown-item" href="#">الاعلانات التجارية</a></li>
                    <li><a class="dropdown-item" href="#">اعمال الفديو والتصوير </a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">الدورات التدريبية</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
            {% if user.is_authenticated %}
              <ul class="navbar-nav  mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'profile' %}">مرحباً | <samp class="text-blod">{{ user.username}}</samp>    </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">تسجيل خروج  </a>
                </li> 
              </ul>
              {% else %}
              <ul class="navbar-nav  mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">تسجيل الدخول |</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'signin' %}">مستخدم جديد</a>
                  </li> 
                </ul>
              {% endif %}
            </div>
          </div>
        </nav>
      </header>




      {% block content %}

      {% endblock content %}



        

        
      <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/fontawesome-all.min.js' %}"></script>
  </body>
</html>
