<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register user</title>
</head>
<body>
    <a href="{% url 'posts' %}">
        <button> القائمة الرئيسية </button>
    </a>
    <h2>
        أهلاً بالمستخدم الجديد 
    </h2>
    <form method="POST" >
        {% csrf_token %}
        {{ form.as_p }}
        <button> تسجيل </button>
    </form>
</body>
</html>